---
layout: default
---

<article class="page-view">
  <header class="article-header page-header">
    <h1 class="article-title">{{ page.title }}</h1>
  </header>

  <div class="article-body page-body post-content">
    {{ content }}
  </div>
</article>

{% if page.comments %}
  <div class="page-view">
    <div class="comments-wrap" id="disqus_thread"></div>
    <script>
      var disqus_config = function () {
        this.page.url = "{{ site.url }}{{ page.url }}";
        this.page.identifier = "{{ page.url }}";
      };
      (function () {
        var d = document;
        var s = d.createElement("script");
        s.src = "https://le-nicolasblog.disqus.com/embed.js";
        s.setAttribute("data-timestamp", +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>
      Please enable JavaScript to view the
      <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </noscript>
  </div>
{% endif %}

{% if page.mathjax %}
  <script src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endif %}